body{
	font-family: 'Ubuntu',sans-serif;
	height: 100hv;
	background-color:white;
	margin:0 auto;
	padding:0 10px;
	min-height: 100%;

}
/*///////////////////////////////////////////Centre Page///////////////////////////////////////////*/
#CentrePage{
	background-color: rgb(215, 249, 173);
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	max-width: 1500px;
	min-width: 1000px;

}

#CentrePage h1{
	text-align: center;
	background-color:#8bb73e;;
	color:white;
}

#CentrePage .formbuttons{
	margin-left: auto;
	margin-right: auto;
}


/*///////////////////////////////////////////Fin Centre Page///////////////////////////////////////////*/

/*///////////////////////////////////////////Barre de Nav///////////////////////////////////////////*/
#DivNav{
	background-color:#8bb73e;
	height: 40px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

ul#MenuNav{
	margin-right: 10px;
	margin-left: -30px;
}

ul#MenuNav li{
	background:#8bb73e;
	display: inline;
	padding: 0.2em 0.6em;
	font-size: 20px;
	height: 32px;
	transition: background-color 0.5s linear, height 0.5s linear;

}

ul#MenuNav li:hover{
	background:crimson;
	height: 40px;
	transition: background-color 0.5s linear, height 0.5s linear;
}

ul#MenuNav a{
	color: white;
	text-decoration: none;
}

li.MNG{
	float: left;
}

li.MND{
	float: right;
}
/*///////////////////////////////////////////Fin Barre de Nav///////////////////////////////////////////*/

/*//////////////////////////////////////satisfaction//////////////////////////////////////////*/
#quest {
	text-align: center;
	margin-top:50px;
	border:dashed 3px green;
	border-radius: 30px;
}
#enquete{
	text-align: center;
}

#table{
margin-left: auto;
margin-right: auto;
margin-top: 50px;
width: 1000px;
}

#boutton{
	margin-left: 40%;
}

#CentrePage {
	min-width: 1000px;
}
/*//////////////////////////////////////Fin satisfaction//////////////////////////////////////////*/

/*//////////////////////////////////////rdv//////////////////////////////////////////*/
fieldset{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 1000px;
}
#formbuttons{
	margin-left: 40%;
}

#gauche {
	float: left;
}

#droite {
	float: right;
}

/*//////////////////////////////////////fin rdv///////////////////////////////////////*/