body{
	font-family: 'Ubuntu',sans-serif;
	height: 100hv;
	background-color:#8bb73e;
}
/*
body:before{
	content: "";
	position: fixed;
	height: 100%; width: 100%;
	background: url(ressources/background.png);
	z-index: -1;   
	filter: blur(30px);
}
*/

#HeaderDiv{
	top: -21px;
	background-color: rgba(255, 255, 255, 0.7);
	position: relative;
	margin: auto;
	width: 800px;
	text-align: center;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 1px 1px 30px black;
}



#SquareDiv{
	/*background-color: rgba(255, 255, 255, 0.7);*/
	margin: auto;
	height: 400px;
	width: 800px;
	/*padding: 15px;
	border-radius: 10px;*/
}



#Square1{
	background-image: url(ressources/medecine.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	float: left;
	text-align: center;
	height: 48%;
	width: 48%;
	margin: 5px;
	border-radius: 5px;
	transition: box-shadow 0.5s linear;
}

#Square1:hover{
	box-shadow: -10px -10px 30px black;
	transition: box-shadow 0.5s linear;
}

#Square1 h1{
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	display: inline-block;
	margin: auto;
	width: auto;
	height: auto;
	border-radius: 2px;
	transition: padding-bottom 0.5s linear, padding-right 0.5s linear;
}

#Square1:hover h1{
	padding-bottom: 40.2%;
	padding-right: 62.2%;
	border-radius: 5px;
	transition: padding-bottom 0.5s linear, padding-right 0.5s linear, border-radius 0.5s linear;
}

#Square1 p{
	text-align: left;
	margin-left: 3px;
	margin-right: 3px;
	color: white;
	opacity: 0;
	margin-top: 0%;
	transition: opacity 0.5s linear, margin-top 0.5s linear;
}

#Square1:hover p{
	opacity: 1;
	margin-top: -40.2%;
	transition: opacity 0.5s linear, margin-top 0.5s linear;
}



#Square2{
	background-image: url(ressources/pediatrie.png);
	background-size: cover;
	background-repeat: no-repeat;
	float: left;
	text-align: center;
	height: 48%;
	width: 48%;
	margin: 5px;
	border-radius: 5px;
	transition: box-shadow 0.5s linear;
}

#Square2:hover{
	box-shadow: 10px -10px 30px black;
	transition: box-shadow 0.5s linear;
}

#Square2 h1{
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	display: inline-block;
	margin: auto;
	width: auto;
	height: auto;
	border-radius: 2px;
	transition: padding-bottom 0.5s linear, padding-right 0.5s linear;
}

#Square2:hover h1{
	padding-bottom: 40.2%;
	padding-right: 65%;
	border-radius: 5px;
	transition: padding-bottom 0.5s linear, padding-right 0.5s linear, border-radius 0.5s linear;
}

#Square2 p{
	margin-left: 3px;
	margin-right: 3px;
	text-align: left;
	color: white;
	opacity: 0;
	margin-top: 0%;
	transition: opacity 0.5s linear, margin-top 0.5s linear;
}

#Square2:hover p{
	opacity: 1;
	margin-top: -40.2%;
	transition: opacity 0.5s linear, margin-top 0.5s linear;
}



#Square3{
	background-image: url(ressources/chirurgie.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	float: left;
	text-align: center;
	height: 48%;
	width: 48%;
	margin: 5px;
	border-radius: 5px;
	transition: box-shadow 0.5s linear;
}

#Square3:hover{
	box-shadow: -10px 10px 30px black;
	transition: box-shadow 0.5s linear;
}

#Square3 h1{
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	display: inline-block;
	margin: auto;
	width: auto;
	height: auto;
	border-radius: 2px;
	transition: padding-bottom 0.5s linear, padding-right 0.5s linear;
}

#Square3:hover h1{
	padding-bottom: 40.2%;
	padding-right: 63%;
	border-radius: 5px;
	transition: padding-bottom 0.5s linear, padding-right 0.5s linear, border-radius 0.5s linear;
}

#Square3 p{
	margin-left: 3px;
	margin-right: 3px;
	text-align: left;
	color: white;
	opacity: 0;
	margin-top: 0%;
	transition: opacity 0.5s linear, margin-top 0.5s linear;
}

#Square3:hover p{
	opacity: 1;
	margin-top: -40.2%;
	transition: opacity 0.5s linear, margin-top 0.5s linear;
}



#Square4{
	background-image: url(ressources/urgences.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	float: left;
	text-align: center;
	height: 48%;
	width: 48%;
	margin: 5px;
	border-radius: 5px;
	transition: box-shadow 0.5s linear;
}

#Square4:hover{
	box-shadow: 10px 10px 30px black;
	transition: box-shadow 0.5s linear;
}

#Square4 h1{
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	display: inline-block;
	margin: auto;
	width: auto;
	height: auto;
	border-radius: 2px;
	transition: padding-bottom 0.5s linear, padding-right 0.5s linear;
}

#Square4:hover h1{
	padding-bottom: 40.2%;
	padding-right: 62.2%;
	border-radius: 5px;
	transition: padding-bottom 0.5s linear, padding-right 0.5s linear, border-radius 0.5s linear;
}

#Square4 p{
	margin-left: 3px;
	margin-right: 3px;
	text-align: left;
	color: white;
	opacity: 0;
	margin-top: 0%;
	transition: opacity 0.5s linear, margin-top 0.5s linear;
}

#Square4:hover p{
	opacity: 1;
	margin-top: -40.2%;
	transition: opacity 0.5s linear, margin-top 0.5s linear;
}


#FormContact{
	position: absolute;
	background-color: rgba(255, 255, 255, 0.7);
	/*width: 100%;*/
	height: 3em;
	line-height: 3em;
	white-space: nowrap;
	right: 0px;
	top: 0px;
	display: inline-block;
	font-size: 20px;
	border-bottom-left-radius: 10px;
	box-shadow: 5px 5px 30px black;
}

#Contacts{
	
	text-align: center;
	float: right;
	height: 3em;
	transition:background-color 0.5s linear;
	color: black;
	padding-right: 10px;
	padding-left: 10px;
}

#Contacts:hover{
	background-color: rgba(255, 255, 255, 1);
	transition:background-color 0.5s linear;
}

#Formalites{
	
	text-align: center;
	float: right;
	height: 3em;
	transition:background-color 0.5s linear;
	color: black;
	padding-right: 10px;
	padding-left: 10px;
	border-bottom-left-radius: 10px;
}

#Formalites:hover{
	background-color: rgba(255, 255, 255, 1);
	transition:background-color 0.5s linear;
}